<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="horizonListTable">
    <tr><th>
        <%= f.label :title %></th><td>
        <%= f.text_field :title %>
    </td></tr>
    <tr><th>
        <%= f.label :titleKana %></th><td>
        <%= f.text_field :titleKana %>
    </td></tr>
    <tr><th>
        <%= f.label :subTitle %></th><td>
        <%= f.text_field :subTitle %>
    </td></tr>
    <tr><th>
        <%= f.label :subTitleKana %></th><td>
        <%= f.text_field :subTitleKana %>
    </td></tr>
    <tr><th>
        <%= f.label :seriesName %></th><td>
        <%= f.text_field :seriesName %>
    </td></tr>
    <tr><th>
        <%= f.label :seriesNameKana %></th><td>
        <%= f.text_field :seriesNameKana %>
    </td></tr>
    <tr><th>
        <%= f.label :author %></th><td>
        <%= f.text_field :author %>
    </td></tr>
    <tr><th>
        <%= f.label :authorKana %></th><td>
        <%= f.text_field :authorKana %>
    </td></tr>
    <tr><th>
        <%= f.label :publisherName %></th><td>
        <%= f.text_field :publisherName %>
    </td></tr>
    <tr><th>
        <%= f.label :size %></th><td>
        <%= f.text_field :size %>
    </td></tr>
    <tr><th>
        <%= f.label :isbn %></th><td>
        <%= f.text_field :isbn %>
    </td></tr>
    <tr><th>
        <%= f.label :itemCaption %></th><td>
        <%= f.text_field :itemCaption %>
    </td></tr>
    <tr><th>
        <%= f.label :salesDate %></th><td>
        <%= f.text_field :salesDate %>
    </td></tr>
    <tr><th>
        <%= f.label :itemUrl %></th><td>
        <%= f.text_field :itemUrl %>
    </td></tr>
    <tr><th>
        <%= f.label :affiliateUrl %></th><td>
        <%= f.text_field :affiliateUrl %>
    </td></tr>
    <tr><th>
        <%= f.label :smallImageUrl %></th><td>
        <%= f.text_field :smallImageUrl %>
    </td></tr>
    <tr><th>
        <%= f.label :mediumImageUrl %></th><td>
        <%= f.text_field :mediumImageUrl %>
    </td></tr>
    <tr><th>
        <%= f.label :largeImageUrl %></th><td>
        <%= f.text_field :largeImageUrl %>
    </td></tr>
    <tr><th>
        <%= f.label :purchaseDate %></th><td>
        <%= f.text_field :purchaseDate %>
    </td></tr>
    <tr><th>
        <%= f.label :finishReadingDate %></th><td>
        <%= f.text_field :finishReadingDate %>
    </td></tr>
    <tr><th>
        <%= f.label :evaluation %></th><td>
        <%= f.text_field :evaluation %>
    </td></tr>
    <tr><th>
        <%= f.label :memo %></th><td>
        <%= f.text_field :memo %>
    </td></tr>
    <tr><th>
        <%= f.label :category %></th><td>
        <%= f.text_field :category %>
    </td></tr>
    <tr><th>
        <%= f.label :tags %></th><td>
        <%= f.text_field :tags %>
    </td></tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
