<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Titlekana:</strong>
  <%= @book.titleKana %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @book.subTitle %>
</p>

<p>
  <strong>Subtitlekana:</strong>
  <%= @book.subTitleKana %>
</p>

<p>
  <strong>Seriesname:</strong>
  <%= @book.seriesName %>
</p>

<p>
  <strong>Seriesnamekana:</strong>
  <%= @book.seriesNameKana %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Authorkana:</strong>
  <%= @book.authorKana %>
</p>

<p>
  <strong>Publishername:</strong>
  <%= @book.publisherName %>
</p>

<p>
  <strong>Size:</strong>
  <%= @book.size %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Itemcaption:</strong>
  <%= @book.itemCaption %>
</p>

<p>
  <strong>Salesdate:</strong>
  <%= @book.salesDate %>
</p>

<p>
  <strong>Itemurl:</strong>
  <%= @book.itemUrl %>
</p>

<p>
  <strong>Affiliateurl:</strong>
  <%= @book.affiliateUrl %>
</p>

<p>
  <strong>Smallimageurl:</strong>
  <%= @book.smallImageUrl %>
</p>

<p>
  <strong>Mediumimageurl:</strong>
  <%= @book.mediumImageUrl %>
</p>

<p>
  <strong>Largeimageurl:</strong>
  <%= @book.largeImageUrl %>
</p>

<p>
  <strong>Purchasedate:</strong>
  <%= @book.purchaseDate %>
</p>

<p>
  <strong>Finishreadingdate:</strong>
  <%= @book.finishReadingDate %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @book.evaluation %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @book.tags %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
